.cate-page {
    
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* border: 1px solid red; */
}

.tags-wrapper .tags {
    padding: 10px 24px;
    color: var(--wine-red);
    background-color: var(--white);
    border: 1px solid var(--wine-red);
    border-radius: 50px;
    font-size: .9rem;
    width: fit-content;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.tags-wrapper .tags.active {
    color: var(--white);
    background-color: var(--wine-red);
}

.tags-wrapper .tags:hover {
    color: var(--white);
    background-color: var(--wine-red);
}

.all-cate-intro h2 {
    color: var(--brown);
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 2rem;
}

.all-cate-intro div {
    background-color: var(--wine-red);
    padding: 3rem;
    margin: 2rem 0;
} 

.all-cate-intro div p {
   width: 60%;
   margin: 0 auto;
   color: var(--light-pink);
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2.5rem;
   text-align: center;
}

.each-cate {
    margin-bottom: 1rem;
    padding: 0 3rem;
}

.each-cate .cate-nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    color: var(--brown);
}

.each-cate .cate-nav-area h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}

.each-cate .cate-nav-area .see-more {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--brown);
    font-weight: 500;
    padding-bottom: .3rem;
    border-bottom: 1px solid transparent;
    transition-duration: 300ms;
    margin-right: 0;
}

.each-cate .cate-nav-area .see-more:hover {
    gap: 20px;
    margin-right: -10px;
    border-bottom: 1px solid var(--brown);
    transition-property: all;
    transition-duration: 300ms;
}

.each-cate .providers {
    display: flex; 
    justify-content: space-between;
    gap: 2.8rem;
    margin-bottom: 4rem;
    flex-wrap: nowrap;
}

.each-cate .provider-card {
    width: 32%;
    border: 2px solid var(--wine-red);
    border-radius: 7px;
    padding: 1.2rem;
}

.each-cate .provider-card .img-container {
    height: 16.25rem;
    margin-bottom: 1.5rem;
}

.each-cate .provider-card img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.each-cate .provider-card .h3 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-top: 5px;
}

.each-cate .provider-card p {
   margin: .9rem 0;
   font-weight: 500;
   line-height: 1.3rem;
   height: 5rem;
}

.each-cate .provider-card .detail-btn {
   display: flex;
   justify-content: center;
   width: 100%;
}

@media (max-width: 650px) {
    .cate-page {
    
    }
    
    .tags-wrapper {
        gap: 0.8rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .tags-wrapper .tags {
        padding: 8px 14px;
        font-size: .7rem;
    }
    
    .all-cate-intro h2 {
        font-size: 1.8rem;
        text-align: center;
        margin-top: 1.5rem;
    }
    
    .all-cate-intro div {
        background-color: var(--wine-red);
        padding: 3rem;
        margin: 2rem 0;
    } 
    
    .all-cate-intro div p {
       width: 100%;
       font-size: 1.1rem;
       line-height: 2.2rem;
    }
    
    .each-cate {
        margin-bottom: 1rem;
        padding: 0 3rem;
    }
    
    .each-cate .cate-nav-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem;
        color: var(--brown);
    }
    
    .each-cate .cate-nav-area h2 {
        font-weight: 700;
        font-size: 2rem;
        text-transform: capitalize;
    }
    
    .each-cate .cate-nav-area .see-more {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--brown);
        font-weight: 500;
        padding-bottom: .3rem;
        border-bottom: 1px solid transparent;
        transition-duration: 300ms;
        margin-right: 0;
    }
    
    .each-cate .cate-nav-area .see-more:hover {
        gap: 20px;
        margin-right: -10px;
        border-bottom: 1px solid var(--brown);
        transition-property: all;
        transition-duration: 300ms;
    }
    
    .each-cate .providers {
        display: flex; 
        justify-content: space-between;
        gap: 2.8rem;
        margin-bottom: 4rem;
        flex-wrap: nowrap;
    }
    
    .each-cate .provider-card {
        width: 32%;
        border: 2px solid var(--wine-red);
        border-radius: 7px;
        padding: 1.2rem;
    }
    
    .each-cate .provider-card .img-container {
        height: 16.25rem;
        margin-bottom: 1.5rem;
    }
    
    .each-cate .provider-card img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    
    .each-cate .provider-card .h3 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 1.6rem;
        margin-top: 5px;
    }
    
    .each-cate .provider-card p {
       margin: .9rem 0;
       font-weight: 500;
       line-height: 1.3rem;
       height: 5rem;
    }
    
    .each-cate .provider-card .detail-btn {
       display: flex;
       justify-content: center;
       width: 100%;
    }
}