.Auth-form {
    width: 50%;
    padding: 5rem;
    background-color: var(--light-pink);
}

.Loginpage-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    background-color: var(--white);
    padding: 3rem;
    border-radius: 15px;
}



.Loginpage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.form-text {
    font-size: 15px;
    font-weight: 700;
    color: var(--brown);
}

.form-group {
    width: 100%;
    color: var(--brown);
    background-color: var(--white);
}

.login-input {
    border: 1px solid grey;
    display: block;
    margin-top: 5px;
    padding: 10px 14px;
    border-radius: 7px;
    width: calc(100% - 28px);
    margin-bottom: 20px;
    font-size: 18px;

}

.login-label {
    font-weight: 500;
}

.forgot-password {
    position: relative;
    top: -10px;
    font-size: 14px;
}

.login-btn-div {
    display: grid;
    width: 100%;
    margin-top: 30px;
    gap: 30px;
}

.login-btn {
    width: 100%;
}

.alt {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-line {
    border-bottom: 1px solid grey;
    width: 45%;
}

.submit-container {
    margin-top: 20px;
}

.error {
    color: red;
}

.Auth1-wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    background-color: var(--light-pink);

}

.Loginpage-formImg {
    width: 50%;
    display: block;
}

.Loginpage-formImg>img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .Loginpage-container {
        width: 100%;
        font-size: 16px;
    }

    .Loginpage-formImg {
        display: none;
    }
}