/* .wrapper{ */
    /* display: grid; */
    /* text-align: center; */
    /* padding-left: 200px; */
    /* padding-right: 200px; */
    /* margin: 50px; */
    /* width: 900px; */
    /* height: 100px; */
    /* margin-bottom: 150px; */
/* } */

/* .privacy-logo{ */
    /* display: grid; */
    /* height: 100px; */
    /* width: 100px; */
    /* background-color: yellow; */
    /* gap: 20px; */
/* }  */

/* .privacy-header{
    display: flex;
    background-color: red;
    text-align: center;
    margin-bottom: 50px;
}  */

/* .privacypolicy-text{
    text-align: center;
}

.privacy-text{
    text-align: center;
} */