#top {
    position: absolute;
    top: -10rem;
}

.cate-hero {
    height: 30rem;
    /* border: 1px solid red; */
}

.cate-hero img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.category-name {
    border: 1px solid var(--light-brown);
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    text-align: center;
    color: var(--brown);
    font-size: 4rem;
    text-transform: capitalize;
}

.each-cate {
    margin-bottom: 3rem;
    position: relative;
}

.each-cate .found {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 1.2rem 1.8rem 1.2rem;
    color: var(--brown);
    font-weight: 500;
    font-size: 1.2rem;
}

.each-cate .found p {
    text-transform: capitalize;
    /* color: var(--light-brown); */
}

.each-cate .found .sort-by {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--brown);
    cursor: pointer;
    
}

.each-cate .found .sort-by img {
    transform: rotate(90deg);
    transition-property: all;
    transition-duration: 150ms;
}

.each-cate .found .sort-by img.open {
    transform: rotate(-90deg);
    transition-property: all;
    transition-duration: 150ms;
}

.ul-sorts {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2.5rem;
    border-radius: 10px;
    color: var(--brown);
    position: absolute;
    right: 3.5rem;
    top: 2.8rem;
    box-shadow: 0px 2px 10px #48251634;
    opacity: 0;
    transition-property: all;
    transition-duration: 300ms;
    pointer-events: none;
}

.ul-sorts.open {
    opacity: 1;
    pointer-events: all;
    transition-property: all;
    transition-duration: 300ms;
}

.ul-sorts li {
    width: fit-content;
   padding-bottom: 2px ;
   font-weight: 500;
    border-bottom: 1px solid transparent;
    transition-property: all;
    transition-duration: 150ms;
}

.ul-sorts li:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--brown);
    transition-property: all;
    transition-duration: 150ms;
}

.each-cate .providers {
    display: flex; 
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid red; */
    flex-wrap: wrap;
}

.each-cate .provider-card {
    width: 28%;
    border: 2px solid var(--wine-red);
    border-radius: 7px;
    padding: 1.2rem;
}

.each-cate .provider-card .img-container {
    height: 16.25rem;
    margin-bottom: 1.5rem;
}

.each-cate .provider-card img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.each-cate .provider-card h3 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 10px;
}

.each-cate .provider-card p {
   margin: .9rem 0;
   font-weight: 500;
   line-height: 1.3rem;
   height: 5rem;
}

.each-cate .provider-card .detail-btn {
   display: flex;
   justify-content: center;
   width: 100%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 2rem;
}

.pagination .direction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.pagination .direction.disable {
    pointer-events: none;
    cursor: default;
    opacity: .3;
}

.pagination .direction .prev {
    transform: rotate(180deg);
}
