.search-container {
    position: absolute;
    top: 7rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--light-brown);
    height: fit-content;
    border-radius: 10px;
    background-color: var(--white);
}

.search {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0 1.5rem;
    border-radius: 10px;
    width: calc(100% - 3rem);
    z-index: 1;
    border-bottom: 1px solid var(--light-brown);
}

.search img {
    width: 1.5rem;
}

.search input {
    width: 100%;
    padding: 1.2rem 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--brown);
}

.search input::placeholder {
    font-size: 1.2rem;
    color: var(--brown);
}

.dropdown {
    padding: 0 1rem;
    width: calc(100% - 2rem);
    position: relative;
    top: 0;
    color: var(--brownish);
    transition: all;
    transition-duration: 300ms;
    border-radius: 10px;
    transition: all 300ms;
}

.dropdown .searchTerms{
    z-index: 10;
    margin: .5rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 300ms;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    /* background-color: red; */
}

.dropdown .searchTerms .each-search-bar{
    width: 0.9rem;
}

.dropdown .searchTerms:hover{
    background-color: var(--light-brown);
    padding: 0.5rem 1rem;
}

.dropdown .searchTerms .category{
    color: var(--brownish);
}

.dropdown .searchTerms:hover{
    font-weight: 600;
}

@media (max-width: 650px) {
    .search-container {
        top: 4.5rem;
        width: 80%;
    }
    
    .search {
        gap: 0.75rem;
        padding: 0 1rem;
        width: calc(100% - 2rem);
    }
    
    .search img {
        width: 1rem;
    }
    
    .search input {
        padding: 0.6rem 0;
        font-size: 1rem;
    }
    
    .search input::placeholder {
        font-size: 0.875rem;
    }
    
    .dropdown .searchTerms{
        font-size: 0.875rem;
    }
    
    .dropdown .searchTerms .each-search-bar{
        width: 0.8rem;
    }
    
    .dropdown .searchTerms:hover{
        background-color: var(--light-brown);
        padding: 0.5rem 1rem;
    }
    
    .dropdown .searchTerms .category{
        color: var(--brownish);
    }
    
    .dropdown .searchTerms:hover{
        font-weight: 600;
    }
}