.hero {
    height: 41rem;
    width: 100%;
    background: url(../../assets/images/eye-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .hero-content {
    background-color: #00000071;
    height: 100%;
    width: 100%;
    color: var(--light-brown);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hero-text {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.hero-text p {
    width: 90%;
}
